In [80]:
import requests
import pandas as pd
import numpy as np

In [71]:
url = "http://www.omdbapi.com/?i=tt3896198&apikey=1fb087f7"

response = requests.get(url)
response.json()

{'Title': 'Guardians of the Galaxy Vol. 2',
 'Year': '2017',
 'Rated': 'PG-13',
 'Released': '05 May 2017',
 'Runtime': '136 min',
 'Genre': 'Action, Adventure, Comedy',
 'Director': 'James Gunn',
 'Writer': 'James Gunn, Dan Abnett, Andy Lanning',
 'Actors': 'Chris Pratt, Zoe Saldana, Dave Bautista',
 'Plot': "The Guardians struggle to keep together as a team while dealing with their personal family issues, notably Star-Lord's encounter with his father, the ambitious celestial being Ego.",
 'Language': 'English',
 'Country': 'United States',
 'Awards': 'Nominated for 1 Oscar. 15 wins & 60 nominations total',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BNjM0NTc0NzItM2FlYS00YzEwLWE0YmUtNTA2ZWIzODc2OTgxXkEyXkFqcGdeQXVyNTgwNzIyNzg@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.6/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '85%'},
  {'Source': 'Metacritic', 'Value': '67/100'}],
 'Metascore': '67',
 'imdbRating': '7.6',
 'imdbVotes': '753,481',
 'imdbID': 'tt3896198',
 'Type': 'movie',
 'DVD': '10 Jul 2017',
 'BoxOffice': '$389,813,101',
 'Production': 'N/A',
 'Website': 'N/A',
 'Response': 'True'}

In [78]:
nf_history=pd.read_csv("../raw_data/NetflixViewingHistory.csv")
nf_history

                                              Title        Date
0         Lockwood & Co.: Season 1: Death Is Coming  04/03/2024
1            Lockwood & Co.: Season 1: Sweet Dreams  04/03/2024
2    Lockwood & Co.: Season 1: Doubt Thou the Stars  04/03/2024
3            Lockwood & Co.: Season 1: Let Go of Me  04/03/2024
4         Lockwood & Co.: Season 1: This Will Be Us  03/03/2024
..                                              ...         ...
905                        Lupin: Part 1: Chapter 3  17/07/2021
906                        Lupin: Part 1: Chapter 2  17/07/2021
907                        Lupin: Part 1: Chapter 1  16/07/2021
908                     Sexify: Season 1: Episode 1  16/07/2021
909                          Straight Outta Compton  16/07/2021

[910 rows x 2 columns]

In [85]:
non_series_df = nf_history_cleaned[~nf_history_cleaned['Title'].str.contains('Episode|Season|Seasons|Chapter|Series|Part', case=False)]
non_series_df

                      Title        Date
34                Uncharted  18/02/2024
60             The Punisher  10/02/2024
64           The Contractor  09/02/2024
82                     Lift  26/01/2024
83              Interceptor  25/01/2024
..                      ...         ...
892                   Rocco  22/07/2021
893        Army of the Dead  20/07/2021
894          Den of Thieves  19/07/2021
895               Homefront  19/07/2021
909  Straight Outta Compton  16/07/2021

[145 rows x 2 columns]

In [89]:
non_series_df['Genre'] = np.nan
non_series_df['Year'] = np.nan

/var/folders/qx/x4wljx453hv33v5tf81j38z40000gn/T/ipykernel_36721/2341596637.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_series_df['Genre'] = np.nan
/var/folders/qx/x4wljx453hv33v5tf81j38z40000gn/T/ipykernel_36721/2341596637.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_series_df['Year'] = np.nan

In [90]:
non_series_df

                      Title        Date  Genre  Year
34                Uncharted  18/02/2024    NaN   NaN
60             The Punisher  10/02/2024    NaN   NaN
64           The Contractor  09/02/2024    NaN   NaN
82                     Lift  26/01/2024    NaN   NaN
83              Interceptor  25/01/2024    NaN   NaN
..                      ...         ...    ...   ...
892                   Rocco  22/07/2021    NaN   NaN
893        Army of the Dead  20/07/2021    NaN   NaN
894          Den of Thieves  19/07/2021    NaN   NaN
895               Homefront  19/07/2021    NaN   NaN
909  Straight Outta Compton  16/07/2021    NaN   NaN

[145 rows x 4 columns]

In [117]:
minidf = non_series_df.sample(20)
minidf

                                   Title        Date  Genre  Year
412                       The Laundromat  25/12/2022    NaN   NaN
845               Manson Family Vacation  02/09/2021    NaN   NaN
146                         Total Recall  16/11/2023    NaN   NaN
458         Michael Che: Shame the Devil  11/12/2022    NaN   NaN
253              Mission: Impossible III  01/09/2023    NaN   NaN
192                   They Cloned Tyrone  17/10/2023    NaN   NaN
418         The Ballad of Buster Scruggs  24/12/2022    NaN   NaN
360                                 Salt  24/02/2023    NaN   NaN
451                        The Nice Guys  14/12/2022    NaN   NaN
369  Mike Birbiglia: Thank God for Jokes  18/02/2023    NaN   NaN
252   Mission: Impossible - Rogue Nation  01/09/2023    NaN   NaN
909               Straight Outta Compton  16/07/2021    NaN   NaN
358                         The Gray Man  25/02/2023    NaN   NaN
893                     Army of the Dead  20/07/2021    NaN   NaN
776                                Shaft  09/10/2021    NaN   NaN
553                           Do Revenge  25/09/2022    NaN   NaN
97                 Sniper: Ultimate Kill  19/01/2024    NaN   NaN
717                        The Good Liar  25/10/2021    NaN   NaN
351                           The Losers  16/03/2023    NaN   NaN
359                   The Last Airbender  24/02/2023    NaN   NaN

In [112]:
#df_netflix
url = "http://www.omdbapi.com"

# loop en df_netflix
def get_movie_meta(df):
    for index, row in df.iterrows():
        params={ 'apikey' : '1fb087f7',
               't': row['Title']}
        response = requests.get(url, params).json()
        print(response)
        minidf.loc[index, 'Year'] = response.get('Year','')
        minidf.loc[index, 'Genre'] = response.get('Genre','')
        minidf.loc[index, 'Awards'] = response.get('Awards','')

get_movie_meta(minidf)

{'Response': 'False', 'Error': 'Movie not found!'}
{'Title': 'Red Notice', 'Year': '2021', 'Rated': 'PG-13', 'Released': '12 Nov 2021', 'Runtime': '118 min', 'Genre': 'Action, Comedy, Thriller', 'Director': 'Rawson Marshall Thurber', 'Writer': 'Rawson Marshall Thurber', 'Actors': 'Dwayne Johnson, Ryan Reynolds, Gal Gadot', 'Plot': "An Interpol agent successfully tracks down the world's most wanted art thief with help from a rival thief. But nothing is as it seems as a series of double-crosses ensues.", 'Language': 'English, Russian, Italian, Spanish, Indonesian', 'Country': 'United States', 'Awards': '1 nomination', 'Poster': 'https://m.media-amazon.com/images/M/MV5BZmRjODgyMzEtMzIxYS00OWY2LTk4YjUtMGMzZjMzMTZiN2Q0XkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.3/10'}, {'Source': 'Rotten Tomatoes', 'Value': '37%'}, {'Source': 'Metacritic', 'Value': '37/100'}], 'Metascore': '37', 'imdbRating': '6.3', 'imdbVotes': '312,563', 'imdbID': 'tt7991608', 'Type': 'movie', 'DVD': '12 Nov 2021', 'BoxOffice': 'N/A', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': 'Tag', 'Year': '2018', 'Rated': 'R', 'Released': '15 Jun 2018', 'Runtime': '100 min', 'Genre': 'Action, Comedy', 'Director': 'Jeff Tomsic', 'Writer': 'Rob McKittrick, Mark Steilen, Russell Adams', 'Actors': 'Jeremy Renner, Ed Helms, Jake Johnson', 'Plot': 'A small group of former classmates organize an elaborate, annual game of tag that requires some to travel all over the country.', 'Language': 'English, Spanish', 'Country': 'United States', 'Awards': '3 nominations', 'Poster': 'https://m.media-amazon.com/images/M/MV5BNzk4NDM3NjkwNF5BMl5BanBnXkFtZTgwNTk5MzkzNTM@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.5/10'}, {'Source': 'Rotten Tomatoes', 'Value': '56%'}, {'Source': 'Metacritic', 'Value': '56/100'}], 'Metascore': '56', 'imdbRating': '6.5', 'imdbVotes': '145,505', 'imdbID': 'tt2854926', 'Type': 'movie', 'DVD': '17 Aug 2018', 'BoxOffice': '$54,730,625', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': 'We Have a Ghost', 'Year': '2023', 'Rated': 'PG-13', 'Released': '24 Feb 2023', 'Runtime': '126 min', 'Genre': 'Adventure, Comedy, Drama', 'Director': 'Christopher Landon', 'Writer': 'Christopher Landon, Geoff Manaugh', 'Actors': "Jahi Di'Allo Winston, David Harbour, Anthony Mackie", 'Plot': "Finding a ghost named Ernest haunting their new home turns Kevin's family into overnight social media sensations. But when Kevin and Ernest investigate the mystery of Ernest's past, they become a target of the CIA.", 'Language': 'English', 'Country': 'United States', 'Awards': 'N/A', 'Poster': 'https://m.media-amazon.com/images/M/MV5BODcxMDFkOTQtN2YzYS00YjkxLWFhMDUtMDc5ZmU4YmE4YWRmXkEyXkFqcGdeQXVyMTA1OTcyNDQ4._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.1/10'}, {'Source': 'Metacritic', 'Value': '53/100'}], 'Metascore': '53', 'imdbRating': '6.1', 'imdbVotes': '32,239', 'imdbID': 'tt7798604', 'Type': 'movie', 'DVD': 'N/A', 'BoxOffice': 'N/A', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': 'The Dictator', 'Year': '2012', 'Rated': 'R', 'Released': '16 May 2012', 'Runtime': '83 min', 'Genre': 'Comedy', 'Director': 'Larry Charles', 'Writer': 'Sacha Baron Cohen, Alec Berg, David Mandel', 'Actors': 'Sacha Baron Cohen, Anna Faris, John C. Reilly', 'Plot': 'The heroic story of a dictator who risked his life to ensure that democracy would never come to the country he so lovingly oppressed.', 'Language': 'English, Hebrew, Arabic', 'Country': 'United States', 'Awards': '1 win & 1 nomination', 'Poster': 'https://m.media-amazon.com/images/M/MV5BNTlkOWYzZDYtNzQ1MS00YTNkLTkyYTItMjBmNjgyMDBlMjI4XkEyXkFqcGdeQXVyNTIzOTk5ODM@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.4/10'}, {'Source': 'Rotten Tomatoes', 'Value': '56%'}, {'Source': 'Metacritic', 'Value': '58/100'}], 'Metascore': '58', 'imdbRating': '6.4', 'imdbVotes': '331,193', 'imdbID': 'tt1645170', 'Type': 'movie', 'DVD': '14 May 2014', 'BoxOffice': '$59,650,222', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': 'The Man from Toronto', 'Year': '2022', 'Rated': 'PG-13', 'Released': '24 Jun 2022', 'Runtime': '110 min', 'Genre': 'Action, Adventure, Comedy', 'Director': 'Patrick Hughes', 'Writer': 'Robbie Fox, Chris Bremner, Jason Blumenthal', 'Actors': 'Kevin Hart, Woody Harrelson, Jasmine Mathews', 'Plot': "The world's deadliest assassin and New York's biggest screw-up are mistaken for each other at an Airbnb rental.", 'Language': 'English', 'Country': 'United States', 'Awards': '1 win & 1 nomination', 'Poster': 'https://m.media-amazon.com/images/M/MV5BZDM2YjA2ZjAtMmZmMy00NDhjLWJjYWYtYjc4ZGY0YzUzOTMyXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '5.8/10'}, {'Source': 'Rotten Tomatoes', 'Value': '23%'}, {'Source': 'Metacritic', 'Value': '34/100'}], 'Metascore': '34', 'imdbRating': '5.8', 'imdbVotes': '58,920', 'imdbID': 'tt11671006', 'Type': 'movie', 'DVD': '24 Jun 2022', 'BoxOffice': 'N/A', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': 'Damn You Hollywood: Extraction 2/Flamin Hot (2023)', 'Year': '2023', 'Rated': 'N/A', 'Released': '12 Jul 2023', 'Runtime': 'N/A', 'Genre': 'N/A', 'Director': 'N/A', 'Writer': 'N/A', 'Actors': 'N/A', 'Plot': 'N/A', 'Language': 'N/A', 'Country': 'N/A', 'Awards': 'N/A', 'Poster': 'N/A', 'Ratings': [], 'Metascore': 'N/A', 'imdbRating': 'N/A', 'imdbVotes': 'N/A', 'imdbID': 'tt28363337', 'Type': 'movie', 'DVD': 'N/A', 'BoxOffice': 'N/A', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': 'Beirut', 'Year': '2018', 'Rated': 'R', 'Released': '11 Apr 2018', 'Runtime': '109 min', 'Genre': 'Drama, Thriller', 'Director': 'Brad Anderson', 'Writer': 'Tony Gilroy', 'Actors': 'Jon Hamm, Jay Potter, Khalid Benchagra', 'Plot': 'Caught in the crossfires of civil war, CIA operatives must send a former U.S. diplomat to negotiate for the life of a friend he left behind.', 'Language': 'English, Arabic, French', 'Country': 'United States', 'Awards': '1 nomination', 'Poster': 'https://m.media-amazon.com/images/M/MV5BZWU5MjMxYmMtYzY2NS00MDU1LWIwMzAtMzIwYjY5NDIxZjZkXkEyXkFqcGdeQXVyMjM4NTM5NDY@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.5/10'}, {'Source': 'Rotten Tomatoes', 'Value': '82%'}, {'Source': 'Metacritic', 'Value': '69/100'}], 'Metascore': '69', 'imdbRating': '6.5', 'imdbVotes': '24,428', 'imdbID': 'tt4669264', 'Type': 'movie', 'DVD': '19 Jun 2018', 'BoxOffice': '$5,019,226', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': 'Bright', 'Year': '2017', 'Rated': 'TV-MA', 'Released': '22 Dec 2017', 'Runtime': '117 min', 'Genre': 'Action, Fantasy, Thriller', 'Director': 'David Ayer', 'Writer': 'Max Landis', 'Actors': 'Will Smith, Joel Edgerton, Noomi Rapace', 'Plot': 'A detective must work with an Orc to find a powerful wand before evil creatures do.', 'Language': 'English, Spanish', 'Country': 'United States', 'Awards': '1 win & 7 nominations', 'Poster': 'https://m.media-amazon.com/images/M/MV5BMTcyNzk5NDg1Nl5BMl5BanBnXkFtZTgwNTM5MDQxNDM@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.3/10'}, {'Source': 'Rotten Tomatoes', 'Value': '26%'}, {'Source': 'Metacritic', 'Value': '29/100'}], 'Metascore': '29', 'imdbRating': '6.3', 'imdbVotes': '200,391', 'imdbID': 'tt5519340', 'Type': 'movie', 'DVD': '22 Dec 2017', 'BoxOffice': 'N/A', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': 'Creed', 'Year': '2015', 'Rated': 'PG-13', 'Released': '25 Nov 2015', 'Runtime': '133 min', 'Genre': 'Action, Drama, Sport', 'Director': 'Ryan Coogler', 'Writer': 'Ryan Coogler, Aaron Covington, Sylvester Stallone', 'Actors': 'Michael B. Jordan, Sylvester Stallone, Tessa Thompson', 'Plot': 'The former World Heavyweight Champion Rocky Balboa serves as a trainer and mentor to Adonis Johnson, the son of his late friend and former rival Apollo Creed.', 'Language': 'English, Spanish', 'Country': 'United States', 'Awards': 'Nominated for 1 Oscar. 45 wins & 65 nominations total', 'Poster': 'https://m.media-amazon.com/images/M/MV5BNmZkYjQzY2QtNjdkNC00YjkzLTk5NjUtY2MyNDNiYTBhN2M2XkEyXkFqcGdeQXVyMjMwNDgzNjc@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.6/10'}, {'Source': 'Rotten Tomatoes', 'Value': '95%'}, {'Source': 'Metacritic', 'Value': '82/100'}], 'Metascore': '82', 'imdbRating': '7.6', 'imdbVotes': '308,868', 'imdbID': 'tt3076658', 'Type': 'movie', 'DVD': '21 Aug 2016', 'BoxOffice': '$109,778,883', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': 'The Gentlemen', 'Year': '2019', 'Rated': 'R', 'Released': '24 Jan 2020', 'Runtime': '113 min', 'Genre': 'Action, Crime', 'Director': 'Guy Ritchie', 'Writer': 'Guy Ritchie, Ivan Atkinson, Marn Davies', 'Actors': 'Matthew McConaughey, Charlie Hunnam, Michelle Dockery', 'Plot': 'An American expat tries to sell off his highly profitable marijuana empire in London, triggering plots, schemes, bribery and blackmail in an attempt to steal his domain out from under him.', 'Language': 'English, Russian, Spanish, Chinese', 'Country': 'United States, United Kingdom', 'Awards': '1 win & 4 nominations', 'Poster': 'https://m.media-amazon.com/images/M/MV5BMTlkMmVmYjktYTc2NC00ZGZjLWEyOWUtMjc2MDMwMjQwOTA5XkEyXkFqcGdeQXVyNTI4MzE4MDU@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.8/10'}, {'Source': 'Rotten Tomatoes', 'Value': '75%'}, {'Source': 'Metacritic', 'Value': '51/100'}], 'Metascore': '51', 'imdbRating': '7.8', 'imdbVotes': '383,655', 'imdbID': 'tt8367814', 'Type': 'movie', 'DVD': '24 Mar 2020', 'BoxOffice': '$36,471,795', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': 'American Sniper', 'Year': '2014', 'Rated': 'R', 'Released': '16 Jan 2015', 'Runtime': '133 min', 'Genre': 'Action, Biography, Drama', 'Director': 'Clint Eastwood', 'Writer': 'Jason Hall, Chris Kyle, Scott McEwen', 'Actors': 'Bradley Cooper, Sienna Miller, Kyle Gallner', 'Plot': "Navy S.E.A.L. sniper Chris Kyle's pinpoint accuracy saves countless lives on the battlefield and turns him into a legend. Back home with his family after four tours of duty, however, Chris finds that it is the war he can't leave b...", 'Language': 'English, Arabic', 'Country': 'United States', 'Awards': 'Won 1 Oscar. 24 wins & 43 nominations total', 'Poster': 'https://m.media-amazon.com/images/M/MV5BMTkxNzI3ODI4Nl5BMl5BanBnXkFtZTgwMjkwMjY4MjE@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.3/10'}, {'Source': 'Rotten Tomatoes', 'Value': '72%'}, {'Source': 'Metacritic', 'Value': '72/100'}], 'Metascore': '72', 'imdbRating': '7.3', 'imdbVotes': '525,334', 'imdbID': 'tt2179136', 'Type': 'movie', 'DVD': '19 Apr 2016', 'BoxOffice': '$350,159,020', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': 'Good on Paper', 'Year': '2021', 'Rated': 'Unrated', 'Released': '23 Jun 2021', 'Runtime': '92 min', 'Genre': 'Comedy, Romance', 'Director': 'Kimmy Gatewood', 'Writer': 'Iliza Shlesinger', 'Actors': 'Iliza Shlesinger, Britney Young, Christopher Nicholas Smith', 'Plot': 'After years of putting her career first, a stand-up comic meets a guy who seems perfect: smart, nice, successful and possibly too good to be true.', 'Language': 'English', 'Country': 'United States', 'Awards': 'N/A', 'Poster': 'https://m.media-amazon.com/images/M/MV5BZmJmZTk0Y2MtY2QyZS00YjI0LWI3MmMtZDI5ZTUwYjA4NWFjXkEyXkFqcGdeQXVyMTAyMjQ3NzQ1._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '5.6/10'}, {'Source': 'Rotten Tomatoes', 'Value': '50%'}, {'Source': 'Metacritic', 'Value': '54/100'}], 'Metascore': '54', 'imdbRating': '5.6', 'imdbVotes': '13,765', 'imdbID': 'tt8231668', 'Type': 'movie', 'DVD': '23 Jun 2021', 'BoxOffice': 'N/A', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': 'Ronny Chieng: Speakeasy', 'Year': '2022', 'Rated': 'N/A', 'Released': '05 Apr 2022', 'Runtime': '60 min', 'Genre': 'Documentary, Comedy', 'Director': 'Sebastian DiNatale', 'Writer': 'Ronny Chieng', 'Actors': 'Ronny Chieng', 'Plot': 'Ronny shares his journey during the pandemic, race relations, cancel culture and some stories from his experiences as a comic.', 'Language': 'N/A', 'Country': 'United States', 'Awards': '1 win', 'Poster': 'https://m.media-amazon.com/images/M/MV5BZjBlZTg2NjUtZWYyYy00MzcxLWI3NTctMzQyMjk4OGJmMjZlXkEyXkFqcGdeQXVyMTUwNjcyNDIz._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.3/10'}], 'Metascore': 'N/A', 'imdbRating': '6.3', 'imdbVotes': '1,610', 'imdbID': 'tt18830896', 'Type': 'movie', 'DVD': '05 Apr 2022', 'BoxOffice': 'N/A', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': '65', 'Year': '2023', 'Rated': 'PG-13', 'Released': '10 Mar 2023', 'Runtime': '93 min', 'Genre': 'Action, Adventure, Drama', 'Director': 'Scott Beck, Bryan Woods', 'Writer': 'Scott Beck, Bryan Woods', 'Actors': 'Adam Driver, Ariana Greenblatt, Chloe Coleman', 'Plot': "An astronaut crash lands on a mysterious planet only to discover he's not alone.", 'Language': 'English', 'Country': 'United States, Canada', 'Awards': '1 nomination', 'Poster': 'https://m.media-amazon.com/images/M/MV5BNDgwNzc4MGYtOWMwMi00YjExLWIzMGEtMGQxMzA2NmExNzAxXkEyXkFqcGdeQXVyMTA3MDk2NDg2._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '5.4/10'}, {'Source': 'Rotten Tomatoes', 'Value': '36%'}, {'Source': 'Metacritic', 'Value': '40/100'}], 'Metascore': '40', 'imdbRating': '5.4', 'imdbVotes': '86,166', 'imdbID': 'tt12261776', 'Type': 'movie', 'DVD': '07 Apr 2023', 'BoxOffice': '$32,062,904', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': 'The Gray Man', 'Year': '2022', 'Rated': 'PG-13', 'Released': '22 Jul 2022', 'Runtime': '122 min', 'Genre': 'Action, Thriller', 'Director': 'Joe Russo, Anthony Russo', 'Writer': 'Joe Russo, Christopher Markus, Stephen McFeely', 'Actors': 'Ryan Gosling, Chris Evans, Ana de Armas', 'Plot': "When the CIA's most skilled operative, whose true identity is known to none, accidentally uncovers dark agency secrets, a psychopathic former colleague puts a bounty on his head, setting off a global manhunt by international assas...", 'Language': 'English', 'Country': 'United States, Czech Republic, United Kingdom, Canada, Thailand, Denmark, France, Cambodia, Vietnam', 'Awards': '5 nominations', 'Poster': 'https://m.media-amazon.com/images/M/MV5BOWY4MmFiY2QtMzE1YS00NTg1LWIwOTQtYTI4ZGUzNWIxNTVmXkEyXkFqcGdeQXVyODk4OTc3MTY@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.5/10'}, {'Source': 'Rotten Tomatoes', 'Value': '45%'}, {'Source': 'Metacritic', 'Value': '49/100'}], 'Metascore': '49', 'imdbRating': '6.5', 'imdbVotes': '235,035', 'imdbID': 'tt1649418', 'Type': 'movie', 'DVD': '22 Jul 2022', 'BoxOffice': 'N/A', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': 'Straight Outta Compton', 'Year': '2015', 'Rated': 'R', 'Released': '14 Aug 2015', 'Runtime': '147 min', 'Genre': 'Biography, Drama, History', 'Director': 'F. Gary Gray', 'Writer': 'Jonathan Herman, Andrea Berloff, S. Leigh Savidge', 'Actors': "O'Shea Jackson Jr., Corey Hawkins, Jason Mitchell", 'Plot': 'The rap group NWA emerges from the mean streets of Compton in Los Angeles, California, in the mid-1980s and revolutionizes Hip Hop culture with their music and tales about life in the hood.', 'Language': 'English', 'Country': 'United States', 'Awards': 'Nominated for 1 Oscar. 28 wins & 40 nominations total', 'Poster': 'https://m.media-amazon.com/images/M/MV5BMTA5MzkyMzIxNjJeQTJeQWpwZ15BbWU4MDU0MDk0OTUx._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.8/10'}, {'Source': 'Rotten Tomatoes', 'Value': '89%'}, {'Source': 'Metacritic', 'Value': '72/100'}], 'Metascore': '72', 'imdbRating': '7.8', 'imdbVotes': '216,066', 'imdbID': 'tt1398426', 'Type': 'movie', 'DVD': '06 Sep 2016', 'BoxOffice': '$161,197,785', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': 'Heart of Stone', 'Year': '2023', 'Rated': 'PG-13', 'Released': '11 Aug 2023', 'Runtime': '122 min', 'Genre': 'Action, Crime, Thriller', 'Director': 'Tom Harper', 'Writer': 'Greg Rucka, Allison Schroeder', 'Actors': 'Gal Gadot, Jamie Dornan, Alia Bhatt', 'Plot': 'An intelligence operative for a shadowy global peacekeeping agency races to stop a hacker from stealing its most valuable and dangerous weapon.', 'Language': 'English', 'Country': 'United States', 'Awards': '2 wins & 4 nominations', 'Poster': 'https://m.media-amazon.com/images/M/MV5BMTJhYjI1N2ItM2E4MC00ZmYzLTk2YzYtNTE5YTM1MDU0NjRiXkEyXkFqcGdeQXVyMTMxNjYyMTgw._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '5.7/10'}], 'Metascore': 'N/A', 'imdbRating': '5.7', 'imdbVotes': '57,799', 'imdbID': 'tt13603966', 'Type': 'movie', 'DVD': 'N/A', 'BoxOffice': 'N/A', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': 'Poisoned: The Dirty Truth About Your Food', 'Year': '2023', 'Rated': 'TV-14', 'Released': '02 Aug 2023', 'Runtime': '83 min', 'Genre': 'Documentary', 'Director': 'Stephanie Soechtig', 'Writer': 'Jeff Benedict', 'Actors': 'Darin Detwiler', 'Plot': 'A call to action for the officials who have the power to mitigate the danger caused by foodborne pathogens that kill thousands of people in the U.S. every year.', 'Language': 'English', 'Country': 'United States', 'Awards': '1 nomination', 'Poster': 'https://m.media-amazon.com/images/M/MV5BOGJlOTMwYjMtNjNkZi00YTNiLTk1NjEtNTFhMzUxYzM0YjgzXkEyXkFqcGdeQXVyMTUyMzg5NzM2._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.8/10'}], 'Metascore': 'N/A', 'imdbRating': '6.8', 'imdbVotes': '2,435', 'imdbID': 'tt27548083', 'Type': 'movie', 'DVD': 'N/A', 'BoxOffice': 'N/A', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}
{'Title': 'Do Revenge', 'Year': '2022', 'Rated': 'TV-MA', 'Released': '16 Sep 2022', 'Runtime': '118 min', 'Genre': 'Comedy, Romance, Thriller', 'Director': 'Jennifer Kaytin Robinson', 'Writer': 'Celeste Ballard, Jennifer Kaytin Robinson', 'Actors': 'Camila Mendes, Maya Hawke, Austin Abrams', 'Plot': "Drea and Eleanor agree to go after one another's bullies.", 'Language': 'English', 'Country': 'United States', 'Awards': '2 wins & 3 nominations', 'Poster': 'https://m.media-amazon.com/images/M/MV5BYTVjZDE3NWItN2Q4NS00YjYyLTkwYTUtODU3NDUzNTU2NDYxXkEyXkFqcGdeQXVyNTA3MTU2MjE@._V1_SX300.jpg', 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '6.3/10'}, {'Source': 'Rotten Tomatoes', 'Value': '84%'}, {'Source': 'Metacritic', 'Value': '66/100'}], 'Metascore': '66', 'imdbRating': '6.3', 'imdbVotes': '49,208', 'imdbID': 'tt13327038', 'Type': 'movie', 'DVD': '16 Sep 2022', 'BoxOffice': 'N/A', 'Production': 'N/A', 'Website': 'N/A', 'Response': 'True'}

In [125]:
df_imdb=pd.read_csv("../raw_data/movies.csv")
df_imdb

,originalTitle,startYear,runtimeMinutes,genres,titleId,title,region,language,averageRating,numVotes,primaryName,birthYear,deathYear
0,Miss Jerry,1894,45,Romance,tt0000009,Miss Jerry,US,\N,5.3,208.0,Alexander Black,1859,1940
1,The Corbett-Fitzsimmons Fight,1897,100,"Documentary,News,Sport",tt0000147,The Corbett-Fitzsimmons Fight,US,\N,5.2,502.0,Enoch J. Rector,1863,1957
2,The Story of the Kelly Gang,1906,70,"Action,Adventure,Biography",tt0000574,The Story of the Kelly Gang,US,\N,6.0,871.0,Charles Tait,1868,1933
3,L'enfant prodigue,1907,90,Drama,tt0000591,The Prodigal Son,US,\N,5.0,22.0,Michel Carré,1865,1945
4,Amleto,1908,\N,Drama,tt0000630,Hamlet,US,\N,2.9,27.0,Mario Caserini,1874,1920
...,...,...,...,...,...,...,...,...,...,...,...,...,...
309802,Minotaur,\N,\N,Thriller,tt9916188,Minotaur,US,\N,NaN,NaN,Dean Israelite,1984,\N
309803,Safeguard,2020,95,"Action,Adventure,Thriller",tt9916190,Safeguard,US,\N,3.6,254.0,Fraser Precious,\N,\N
309804,Akelarre,2020,92,"Drama,History",tt9916362,Coven,US,\N,6.4,5736.0,Pablo Agüero,1977,\N
309805,Hong xing zhao yao Zhong guo,2019,\N,"Adventure,History,War",tt9916428,The Secret of China,US,\N,3.4,18.0,Jixing Wang,\N,\N
309806,The Copeland Case,\N,\N,Drama,tt9916620,The Copeland Case,US,\N,NaN,NaN,NaN,NaN,NaN

In [126]:
df_imdb_us = df_imdb[df_imdb['region'] == "US"]
df_imdb_us

,originalTitle,startYear,runtimeMinutes,genres,titleId,title,region,language,averageRating,numVotes,primaryName,birthYear,deathYear
0,Miss Jerry,1894,45,Romance,tt0000009,Miss Jerry,US,\N,5.3,208.0,Alexander Black,1859,1940
1,The Corbett-Fitzsimmons Fight,1897,100,"Documentary,News,Sport",tt0000147,The Corbett-Fitzsimmons Fight,US,\N,5.2,502.0,Enoch J. Rector,1863,1957
2,The Story of the Kelly Gang,1906,70,"Action,Adventure,Biography",tt0000574,The Story of the Kelly Gang,US,\N,6.0,871.0,Charles Tait,1868,1933
3,L'enfant prodigue,1907,90,Drama,tt0000591,The Prodigal Son,US,\N,5.0,22.0,Michel Carré,1865,1945
4,Amleto,1908,\N,Drama,tt0000630,Hamlet,US,\N,2.9,27.0,Mario Caserini,1874,1920
...,...,...,...,...,...,...,...,...,...,...,...,...,...
309802,Minotaur,\N,\N,Thriller,tt9916188,Minotaur,US,\N,NaN,NaN,Dean Israelite,1984,\N
309803,Safeguard,2020,95,"Action,Adventure,Thriller",tt9916190,Safeguard,US,\N,3.6,254.0,Fraser Precious,\N,\N
309804,Akelarre,2020,92,"Drama,History",tt9916362,Coven,US,\N,6.4,5736.0,Pablo Agüero,1977,\N
309805,Hong xing zhao yao Zhong guo,2019,\N,"Adventure,History,War",tt9916428,The Secret of China,US,\N,3.4,18.0,Jixing Wang,\N,\N
309806,The Copeland Case,\N,\N,Drama,tt9916620,The Copeland Case,US,\N,NaN,NaN,NaN,NaN,NaN

In [130]:
api_data = []

for index, row in df_imdb_us.iterrows():
    title = row['title']
    
    if response.status_code == 200:
        data = response.json()
        api_data.append(data)
    else:
        print(f"Error: {title}")

api_df = pd.DataFrame(api_data)

merged_imdbus_df = pd.merge(df_imdb_us, api_df, left_on='title', right_on='Title', how='left')
merged_imdbus_df

,originalTitle,startYear,runtimeMinutes,genres,titleId,title,region,language,averageRating,numVotes,...,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response
0,Miss Jerry,1894,45,Romance,tt0000009,Miss Jerry,US,\N,5.3,208.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,The Corbett-Fitzsimmons Fight,1897,100,"Documentary,News,Sport",tt0000147,The Corbett-Fitzsimmons Fight,US,\N,5.2,502.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,The Story of the Kelly Gang,1906,70,"Action,Adventure,Biography",tt0000574,The Story of the Kelly Gang,US,\N,6.0,871.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,L'enfant prodigue,1907,90,Drama,tt0000591,The Prodigal Son,US,\N,5.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Amleto,1908,\N,Drama,tt0000630,Hamlet,US,\N,2.9,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309802,Minotaur,\N,\N,Thriller,tt9916188,Minotaur,US,\N,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309803,Safeguard,2020,95,"Action,Adventure,Thriller",tt9916190,Safeguard,US,\N,3.6,254.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309804,Akelarre,2020,92,"Drama,History",tt9916362,Coven,US,\N,6.4,5736.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309805,Hong xing zhao yao Zhong guo,2019,\N,"Adventure,History,War",tt9916428,The Secret of China,US,\N,3.4,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309806,The Copeland Case,\N,\N,Drama,tt9916620,The Copeland Case,US,\N,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
if response.status_code == 200:
  data = response.json()
  
else:
  print({response.status_code})

In [96]:
data['Plot']

"The Guardians struggle to keep together as a team while dealing with their personal family issues, notably Star-Lord's encounter with his father, the ambitious celestial being Ego."

In [73]:
df = pd.DataFrame(data)
df

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response
0,Guardians of the Galaxy Vol. 2,2017,PG-13,05 May 2017,136 min,"Action, Adventure, Comedy",James Gunn,"James Gunn, Dan Abnett, Andy Lanning","Chris Pratt, Zoe Saldana, Dave Bautista",The Guardians struggle to keep together as a t...,...,67,7.6,"753,481",tt3896198,movie,10 Jul 2017,"$389,813,101",N/A,N/A,True
1,Guardians of the Galaxy Vol. 2,2017,PG-13,05 May 2017,136 min,"Action, Adventure, Comedy",James Gunn,"James Gunn, Dan Abnett, Andy Lanning","Chris Pratt, Zoe Saldana, Dave Bautista",The Guardians struggle to keep together as a t...,...,67,7.6,"753,481",tt3896198,movie,10 Jul 2017,"$389,813,101",N/A,N/A,True
2,Guardians of the Galaxy Vol. 2,2017,PG-13,05 May 2017,136 min,"Action, Adventure, Comedy",James Gunn,"James Gunn, Dan Abnett, Andy Lanning","Chris Pratt, Zoe Saldana, Dave Bautista",The Guardians struggle to keep together as a t...,...,67,7.6,"753,481",tt3896198,movie,10 Jul 2017,"$389,813,101",N/A,N/A,True

In [5]:
df["Awards"].value_counts()

Awards
Nominated for 1 Oscar. 15 wins & 60 nominations total    3
Name: count, dtype: int64

In [19]:
nf_history_cleaned = nf_history.dropna(subset=['Title'])

# Filter the DataFrame to select rows containing the specified strings
series_df = nf_history[nf_history["Title"].str.contains("Episode|Season|Seasons|Chapter|Series|Part", case=False)]

In [20]:
series_df

                                                 Title        Date
0            Lockwood & Co.: Season 1: Death Is Coming  04/03/2024
1               Lockwood & Co.: Season 1: Sweet Dreams  04/03/2024
2       Lockwood & Co.: Season 1: Doubt Thou the Stars  04/03/2024
3               Lockwood & Co.: Season 1: Let Go of Me  04/03/2024
4            Lockwood & Co.: Season 1: This Will Be Us  03/03/2024
..                                                 ...         ...
904  Too Hot to Handle: Season 2: C**kblocked by a ...  17/07/2021
905                           Lupin: Part 1: Chapter 3  17/07/2021
906                           Lupin: Part 1: Chapter 2  17/07/2021
907                           Lupin: Part 1: Chapter 1  16/07/2021
908                        Sexify: Season 1: Episode 1  16/07/2021

[763 rows x 2 columns]

In [59]:
non_series_df = nf_history_cleaned[~nf_history_cleaned['Title'].str.contains('Episode|Season|Seasons|Chapter|Series|Part', case=False)]
non_series_df
non_series_df.to_csv('non_series_df.csv', index=False)

In [74]:
combined_df = pd.concat([df, non_series_df], ignore_index=True)

combined_df

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response,Date
0,Guardians of the Galaxy Vol. 2,2017,PG-13,05 May 2017,136 min,"Action, Adventure, Comedy",James Gunn,"James Gunn, Dan Abnett, Andy Lanning","Chris Pratt, Zoe Saldana, Dave Bautista",The Guardians struggle to keep together as a t...,...,7.6,"753,481",tt3896198,movie,10 Jul 2017,"$389,813,101",N/A,N/A,True,NaN
1,Guardians of the Galaxy Vol. 2,2017,PG-13,05 May 2017,136 min,"Action, Adventure, Comedy",James Gunn,"James Gunn, Dan Abnett, Andy Lanning","Chris Pratt, Zoe Saldana, Dave Bautista",The Guardians struggle to keep together as a t...,...,7.6,"753,481",tt3896198,movie,10 Jul 2017,"$389,813,101",N/A,N/A,True,NaN
2,Guardians of the Galaxy Vol. 2,2017,PG-13,05 May 2017,136 min,"Action, Adventure, Comedy",James Gunn,"James Gunn, Dan Abnett, Andy Lanning","Chris Pratt, Zoe Saldana, Dave Bautista",The Guardians struggle to keep together as a t...,...,7.6,"753,481",tt3896198,movie,10 Jul 2017,"$389,813,101",N/A,N/A,True,NaN
3,Uncharted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18/02/2024
4,The Punisher,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10/02/2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,Rocco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22/07/2021
144,Army of the Dead,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20/07/2021
145,Den of Thieves,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/07/2021
146,Homefront,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19/07/2021
147,Straight Outta Compton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16/07/2021

In [76]:
combined_df.isnull()

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response,Date
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
4,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
144,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
145,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
146,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False
147,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,False